/*                      css reset                     */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*                reset end                    */




ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  	background-color: rgb(26, 26, 26);

  	color: white;
   	font-family: verdana;
	font-size: 15px;

}

ul {
	padding-left: 30px;
	list-style: circle;
}


*{
	box-sizing:border-box;
}


#footer{
	width: 100%;
  background-color: white;
  position: fixed; 
  bottom: 0;
}

ul#navigation {
  width:100%;
  background-color: #bababa;
  overflow: auto;
  list-style-type: none;
	padding-left: 0;
	text-decoration: none;
}

ul#navigation > li {
	font-size: 12px;
  display: block;
  float: left;
  padding: 10px;
  background-color: #bababa;
}
ul#navigation  li  a{
	text-decoration: none;
}
ul#navigation  li  a:hover{
  	color: rgba(0,0,0,.7);
  	border-bottom: 1px solid white;
}
#navigation li a:visited{
	color: black;
}
#nameplate{
	color: black;
	float: right;
	font-size: 30px;
	margin-right: 50px;
	margin-top: 2px;
	font-family: 'Orbitron', sans-serif;
	color: rgba(0,0,0,.5);
}
#lnameplate{
	color: black;
	float: right;
	font-size: 30px;
	margin-right: 50px;
	margin-top: 2px;
	font-family: 'Orbitron', sans-serif;
}
.nameBanner{
	float: right;
	color: white;
}
/* wrapper for all sites  */
div.pannel-wrapper{
	width:100%;
	border:1px;
}

/*  index CSS  */
#welcome{
	text-align: center;
	font-size: 30px;
	margin-top: 5px;
}
div.pannel{
	width:40%;
	height:300px;
  	display:none;
  	margin-left: 780px;
	/*border: 1px solid grey;*/
	padding: 25px;

}
div.pannel-left{
	width:40%;
	height:300px;
  	display:none;
  	margin-left: 90px;
	/*border: 1px solid grey;*/
	padding: 25px;
}
#profileimg{
	float: right;
	margin-right: 350px;
	margin-top: 45px;
	display: none;
}
#r2hlogo{
	float: left;
	width: 500px;
	height: 200px;
	margin-left: 110px;
	display: none;
}


/* contact */
form {
  text-align: center;
}
.contactForm{
 	width: 500px;
 	height: 500px;
 	overflow: hidden;
 	margin: 0 auto;
 	text-align: center;
 	display: none;

 	margin-top: 50px;
}
input, label, select{
  display: block;
  margin: auto;
}
.catagory{
	border: solid white 2px;
	background-color: white;
}

/* Resume */
#resumeBanner{
	margin: 0 auto;
	width: 200px;
	margin-top: 20px;
	display: none;
}
.resumeLabel{
	color: black;
	background-color: white;
	margin-left: 20px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 5px;
}
.resumeContainer{
	width: 700px;
	height: 750px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: white;
	display:none;
}
.resumeContainer li{
	color: black;
	background-color: white;
}
.resumeContainer ul{
	color: black; 
	background-color: white;
	/*border: solid purple 2px;*/
}
.program{
	width: 33%;
	float:left;
	border: solid black 1px;
}
.title{
	font-weight: bold;
	list-style-type: none;
}
.skillRange{
	width: 33%;
	float: left;
	border: solid black 1px;
	list-style-type: none;
}
.yearRange{
	width: 34%;
	float: left;
	border: solid black 1px;
	list-style-type: none;
}
.skillHolder{
	margin: 0 auto;
	overflow: auto;
	width: 80%;
	border: solid black 1px;
}
.catagory p{
	color: black;
	background-color: white;
	margin-top: 20px;
	margin-left: 40px;
	font-size: 14px;
}
.catagory ul{
	font-size: 12px;
	margin-left: 40px;
}
#underline{
	text-decoration: underline;
	font-size: 15px;
}
/* codepen*/
/*div.pannel{
	width: 500px;
	height:200px;
	display:inline-block;
	border: 10px solid grey;
	padding: 25px;

}
*/




/*  media query   */
@media screen and (max-width: 699px){
	div.pannel {
		margin-top: 20px;
		height: 400px;
	}
	div.pannel-left{
	}

}
